*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask4537%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient4538)'%3e%3c/rect%3e%3cpath d='M1440 0L1142.85 0L1440 216.9z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1142.85 0L1440 216.9L1440 284.26L536.0099999999999 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M536.01 0L1440 284.26L1440 456.11L534.13 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M534.13 0L1440 456.11L1440 500.83000000000004L197.39999999999998 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L221.23 560L0 408.53z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 408.53L221.23 560L290.21999999999997 560L0 209.82999999999998z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 209.83000000000004L290.21999999999997 560L740.01 560L0 189.20000000000005z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 189.20000000000005L740.01 560L850.71 560L0 87.63000000000005z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask4537'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='139.29%25' x2='84.72%25' y2='-39.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient4538'%3e%3cstop stop-color='rgba(34%2c 33%2c 32%2c 1)' offset='1'%3e%3c/stop%3e%3cstop stop-color='rgba(179%2c 179%2c 179%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
}

header{
    position: sticky;
    top: 5px;
    z-index: 1;
}

nav{
    width: 100%;
    background-color: rgb(255, 153, 0);
    margin: 3px auto;
    display: flex;
}

.title{
    text-decoration: none;
    color: black;
}

nav h1{
    width: 15%;
    padding: 15px;
    margin-right: auto;
    margin-bottom: 0%;
    font-size: 2rem;
    font-weight: bold;
}

h1{
    font-family: 'Poppins', sans-serif;
}

.navBar{
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 25%;
    padding: 20px;
    justify-content: space-around;
    justify-content: flex-end;
}

.navBar a{
    text-decoration: none;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 200x;
    font-weight: bold;
    padding: 15px;
}

.navBar a:hover{
    background-color: black;
    color: rgb(255, 153, 0);
    border-radius: 10px;
}

@media screen and (max-width: 768px){
    .navBar{
        flex-direction: column;
        width: 100%;
        padding-top: 1%;
    }
    
    .navBar li{
        padding: 1%;
    }
    
    nav{
        display: block;
    }
    nav h1{
        width: 100%;
        text-align: center;
        padding: 1%;
    }
    nav ul{
        margin: 0%;
    }

    header{
        position: static;
    }
}

main{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

#carouselAutoplaying{
    padding: 10px 0px;
}

.carousel-inner img {
    width: 100%;
    max-height: 700px;
}

main h1{
    padding: 10px;
    font-weight: 600;
    font-size: 2rem;
}

main section h1{
    margin: 0%;
    text-align: center;
    font-size: 2rem;
}

.contenedorPartidos{
   display: flex;
   flex-direction: row;
   padding: 10px;
}

.contenedorPartidos div{
    display: flex;
    padding: 0;
}

.contenedorPartidos div div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contenedorPartidos div div h2{
    min-width: 70px;
    text-align: center;
    margin: 0%;
}

.contenedorPartidos div img{
    width: 40%;
}

@media screen and (min-width: 768px){
    .contenedorPartidos div img{
        width: 50%;
    }
}

.partido{
    border: rgb(255, 153, 0) 5px double;
    margin: 5px;
    display: flex;
    justify-content: center;
}

.cabezaTabla{
    background-color: orange;
}

.columnaTabla{
    color: white;
}

.tabla th{
    color: w;
}

fieldset{
    margin: 20px;
}

.inscripcion{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.multimediaImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.img{
    height: 300px;
    width: 300px;
    border: rgb(0, 0, 0) 2px solid;
    margin: 5px;
}

footer{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    padding: 20px;
    background: linear-gradient(#F7B633, #4E1D1D);
    color: black;
    
}

footer h2{
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}

footer ul{
    padding: 0%;
    padding-bottom: 1%;
    margin: 0%;
}

footer li{
    font-size: 20px;
    list-style-type: none;
    padding: 5px;
}

.imgRedes{
    height: 25px;
    width: 25px;
    padding: 3px;
}