*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 5px;
    z-index: 1;
}

nav{
    width: 100%;
    background-color: aqua;
    margin: 3px auto;
    display: flex;
}

.title{
    text-decoration: none;
    color: black;
}

nav h1{
    width: 15%;
    padding: 15px;
    margin-right: auto;
    margin-bottom: 0%;
    font-size: 2rem;
    font-weight: bold;
}

h1{
    font-family: 'Poppins', sans-serif;
}

.navBar{
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 25%;
    padding: 20px;
    justify-content: space-around;
    justify-content: flex-end;
}

.navBar a{
    text-decoration: none;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 200x;
    font-weight: bold;
    padding: 15px;
}

.navBar a:hover{
    background-color: black;
    color: aqua;
    border-radius: 10px;
}

@media screen and (max-width: 768px){
    .navBar{
        flex-direction: column;
        width: 100%;
        padding-top: 1%;
    }
    
    .navBar li{
        padding: 1%;
    }
    
    nav{
        display: block;
    }
    nav h1{
        width: 100%;
        text-align: center;
        padding: 1%;
    }
    nav ul{
        margin: 0%;
    }

    header{
        position: static;
    }
}

main{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

#carouselAutoplaying{
    padding: 10px 0px;
}

.carousel-inner img {
    width: 100%;
    max-height: 700px;
}

main h1{
    padding: 10px;
    font-weight: 600;
    font-size: 2rem;
}

main section h1{
    margin: 0%;
    text-align: center;
    font-size: 2rem;
}

.contenedorPartidos{
   display: flex;
   flex-direction: row;
   padding: 10px;
}

.contenedorPartidos div{
    display: flex;
    padding: 0;
}

.contenedorPartidos div div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contenedorPartidos div div h2{
    min-width: 70px;
    text-align: center;
    margin: 0%;
}

.contenedorPartidos div img{
    width: 40%;
}

@media screen and (min-width: 768px){
    .contenedorPartidos div img{
        width: 50%;
    }
}

.partido{
    border: rgb(109, 187, 197) 5px double;
    margin: 5px;
    display: flex;
    justify-content: center;
}

fieldset{
    margin: 20px;
}

.inscripcion{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.multimediaImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.img{
    height: 300px;
    width: 300px;
    border: rgb(0, 0, 0) 2px solid;
    margin: 5px;
}

footer{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    padding: 20px;
    background-color: rgb(221, 220, 220);
}

footer h2{
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}

footer ul{
    padding: 0%;
    margin: 0%;
}

footer li{
    font-size: 20px;
    list-style-type: none;
    padding: 5px;
}

.imgRedes{
    height: 25px;
    width: 25px;
    padding: 3px;
}