main {
	font-family: $font-family_2;
	font-weight: bold;
	h1 {
		padding: 10px;
		font-weight: 600;
		font-size: 2rem;
	}
	section {
		h2 {
			margin: 0%;
			text-align: center;
			font-size: 2.5rem;
      font-weight: bold;
		}
	}
}
#carouselAutoplaying {
	padding: 10px 0px;
}
.carousel-inner {
	img {
		width: 100%;
		max-height: 700px;
	}
}
.ultimosPartidos{
	margin: 20px 0px;
}
.contenedorPartidos {
	display: flex;
	flex-direction: row;
	padding: 10px;
	div {
		display: flex;
		padding: 0;
		div {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			h3 {
				min-width: 70px;
				text-align: center;
				margin: 0%;
        font-size: 2rem;
			}
		}
		img {
			width: 40%;
		}
	}
}
.partido {
	border: #ff9900 5px double;
	margin: 5px;
	display: flex;
	justify-content: center;
}
.cabezaTabla {
	background-color: $background-color_3;
	border-color: #252525;
}
.columnaTabla {
	color: $color_1;
	border-color: #252525;
}
.table {
	th {
		color: $color_1;
	}
}
fieldset {
	margin: 40px;
  h3{
    margin-bottom: 15px;
  }
  div{
    width: 30%;
    label{
      display: flex;
	    flex-direction: column;
	    align-items: center;
      margin-bottom: 2%;
    }
  }
}
.inscripcion {
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.controls{
  width: 100%;
  height: 32px;
  background-color: rgba($color: #000000, $alpha: 0);
  border-radius: 4px;
  border: 1px solid $color_3;
  font-size: 1rem;
  color: $color_1;
  text-align: center;
}
.categories{
  width: 100%;
  height: 32px;
  background-color: rgba($color: #000000, $alpha: 0);
  border-radius: 4px;
  border: 1px solid $color_3;
  font-size: 1rem;
  color: $color_1;
  text-align: center;
    option{
      background-color: #242323;
    }
}
.formButton{
  width: 100%;
  height: 35px;
  background: linear-gradient(#F7B633, #4E1D1D);;
  border: none;
  border-radius: 4px;
  color: $color_1;
}
.multimediaImg {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 20px;
}
.img {
	height: 300px;
	width: 300px;
	border: black 2px solid;
	margin: 5px;
}
.clubCards{
	margin: 30px 0px;
}
.card{
	text-align: center;
}
.card-img-top{
	overflow: hidden;
	img{
		&:hover{
			transform:scale(1.2);
		}
	}
}
.card-body{
	padding: 10px 30px 30px 30px;
	img{
		width: 2rem;
	}
}
.card-title{
	margin: 0%;
	min-height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}
